* {
    box-sizing: border-box;
}

html, 
body {
    width: 100vw;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 60%;
    margin: 0 auto;
}

h1 {
    font-size: 42px;
    color: #000;
    font-weight: 600;
    letter-spacing: 0.05em;
}

h3 {
    font-size: 24px;
    color: #000;
    font-weight: 500;
}

p {
    color: #000;
    font-size: 16px;
    line-height: 1.4;
    margin-top: 10px;
    letter-spacing: 0.04em;
}

a {
    color: #000;
}

/* Navbar */
nav {
    background-color: #EAEAEA;
}

.nav-container {
    display: flex;
    align-items: center;
    padding: 30px 0;
}

.brand-logo img {
    width: 120px;
    height: auto;
    border-radius: 5px;
}

.nav-items {
    margin-left: auto;
}

.nav-items ul {
    display: flex;
}

.nav-items li {
    margin-left: 30px;
    padding: 10px 15px;
}

.nav-items a {
    text-decoration: none;
    color: #222;
    font-size: 18px;
}

.active{
    border-bottom: 4px solid #0066F9;
}

.btn {
    background-color: #0066F9;
    border-radius: 2px;
}

.btn a {
    color: #fff;
}

/* footer */
footer {
    padding: 20px 0;
}

hr.footer {
    border-top: 1px solid #EAEAEA;
}

.icons i {
    font-size: 50px;
    margin-right: 15px;
}

.icons a {
    text-decoration: none;
}

/* main content */
main {
    padding: 50px 0;
}

/* home */
hr.home {
    margin: 25px 0;
}

.blog-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
    margin-top: 25px;
}

.blog-card-item {
    width: 100%;
    overflow: hidden;
    background-color: #EAEAEA;
}

.blog-img {
    width: 100%;
    height: 250px;
    max-height: 300px;
}

.blog-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.card-tag-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.card-tag {
    padding: 10px;
    background-color: #7D4CDB;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    margin-top: -17px;
}

.card-contents {
    padding: 0  35px 50px 25px;
}

.small {
    font-size: 14px;
}

.small i {
    font-size: 4px;
}

.card-title {
    font-size: 24px;
    margin-top: 10px;
}

.blog-foot {
    display: flex;
    justify-content: space-between;
}

.blog-foot p {
    margin-left: 435px;
}

.next {
    margin-top: 10px;
}

.next a {
    text-decoration: none;
}

.blog-details h1 {
    font-size: 36px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.blog-details h2 {
    font-size: 28px;
    margin-top: 14px;
    margin-bottom: 14px;
}

.blog-details h3 {
    font-size: 24px;
    margin: 12px 0;
}

.blog-details p {
    font-size: 16px;
    line-height: 1.5;
}

.blog-details img {
    width: 100%;
    height: auto;
    margin: 12px 0;
}

.blog-details .title {
    font-size: 42px;
    margin: 30px 0; 
}

.container a {
    text-decoration: none;
}

/* TODO: margin dosen't work */
.wikipedia {
    margin-top: 10px;
}

.about-container p{
    line-height: 1.5;
}

.about-container h2 {
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: 600;
    letter-spacing: 0.03em;

}

.about-container h3 {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 600;
    letter-spacing: 0.02em;
}


.about-a a{
    columns: blue;
}

td > p {
    background-color: rgb(24, 20, 20);
    color: #fff;
    padding-left: 5px;
}

.table1 {
    margin-top: 10px;
}

.table1,
.table1 th,
.table1 td
{
    width: 40%;
    border: 1px solid black;
}

.table2,
.table2 th,
.table2 td
{
    width: 40%;
    border: 1px solid black;
}

.table1 th, td {
    padding: 1rem;
}

.table1 tr:nth-child(even) {
    background-color: #efefef;
}


.about-container h4 {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 7px;
    font-weight: normal;
    letter-spacing: 0.02em;
}

.link-test {
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
}

/* contact form */
.form-container {
    margin-top: 50px;
}

.form-group {
    width: 100%;
    margin-top: 25px;
}

.form-group label {
    display: block;
    font-size: 18px;
    font-weight: 500;
    font-family: Open Sans;
}

.form-input {
    margin-top: 10px;
    width: 100%;
    padding: 15px;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 16px;
    font-family: Open Sans;
}

.form-textarea {
    margin-top: 10px;
    width: 100%;
    padding: 15px;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 16px;
    resize: none;
    font-family: Open Sans;
}

.form-submit-btn {
    padding: 10px 30px;
    border: none;
    background-color: #0066F9;
    color: #fff;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;

}